<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*.py" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\%USERNAME%\Desktop\CreaCritic\venv_creacritic\Scripts\python.exe" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Flask App" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".py" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
</configuration> 